<!DOCTYPE html>
<html lang="fr" class="h-100">
    
<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <h1 class="text-center">Livre</h1>
        <div class="row mx-auto">
            <% bookDB.forEach((book) => { if(book.id == bookID){ %>
            <div class="card m-2 p-1 col">
                <img src="<%= book.thumbnail_url %>" class="card-img-top" style="width: 18rem; height: 100%;" alt="...">
                <div class="card-body">
                    <h3 class="h5 card-title"><%= book.name %></h3>
                    <p class="card-text"><%= book.info %></p>
                </div>
            </div>
            <% }}); %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>