<!DOCTYPE html>
<html lang="fr" class="h-100">
    
<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <h1 class="text-center">CD</h1>
        <div class="row mx-auto">
            <% cdDB.forEach((cd) => { if(cd.id == cdID){ %>
            <div class="card m-2 p-1 col">
                <img src="<%= cd.thumbnail_url %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="h5 card-title"><%= cd.name %></h3>
                    <p class="card-text"><%= cd.info %></p>
                </div>
            </div>
            <% }}); %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>